<footer>

    <div style=" width: clamp(100px, 85vw, 900px); height: auto; margin: 0 auto; margin-bottom: -10px; margin-top: 20px">

        <div style=" padding: 5px; border: 2px solid white; border-bottom: none">

        <p style="text-align: center;"> © 2024-<span id="ano"></span> <a href="https://blescat.neocities.org">blescat</a></p>
        <p style="text-align: center;"> hospedado em <a href="https://neocities.org/site/blescat"> neocities </a> </p>

        </div>

    </div>

</footer>
