<header>
    <div style=" width: clamp(100px, 85vw, 900px); height: auto; margin: 0 auto; margin-bottom: 25px; ">

<div style="display: flex; justify-content: center; border: none;">
    <a class="no-hover-link" href="/">
    <pre>
    __    __                     __ 
   / /_  / /__  ______________ _/ /_
  / __ \/ / _ \/ ___/ ___/ __ `/ __/
 / /_/ / /  __(__  ) /__/ /_/ / /_  
/_.___/_/\___/____/\___/\__,_/\__/  
                          
    </pre>
    </a>
</div>


        <div class="header-style" style=" padding: 15px; border: 2px solid white; box-shadow: 0 0 20px rgba(0,0,0,.5);">

            <nav style="justify-content: center; margin: 0 auto; display: flex; gap: 40px">
                    <a href="/">Home</a>
                    <a href="/sobre-mim/">Sobre-mim</a>
                    <a href="/arte/">Arte</a>
                    <a href="/diario/">Diário</a>

                    <!-- se adicionar mais elementos n esquecer de mudar o header nav -->
            </nav>

        </div>
    </div>



</header>