<header>
    <div style=" background: black; width: clamp(100px, 90vw, 700px); height: auto; margin: 0 auto; margin-bottom: 25px">

        <img src="/images/header-title-image1.png" style="border-radius: 5px; width: 100%; height: auto; object-fit: contain;">

        <div style=" background: white; padding: 15px; border: 2px solid black; ">

            <nav style="justify-content: center; margin: 0 auto; display: flex; gap: 30px">
                    <a>Home</a>
                    <a>Arte</a>
                    <a>Pensamentos</a>

                    <!-- se adicionar mais elementos n esquecer de mudar o header nav -->
            </nav>

        </div>
    </div>



</header>