<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="kicya-site-verification" content="d3e36cd3cd175aed27ccca9c414fa0cf773e55607183112141472a6fbd398da3">
    <script src="https://u.widget.st/ar.js"></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="3a2eb865-83ef-4b58-b85a-0ba9a93b9864"></script>

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="icon" type="image/jpg" href="/images/pfp.jpg">

</head>

<body>

{% include "partials/header2.njk" %}

<main>
    {{ content | safe }}
</main>

<script src="/js/birthday.js"></script>

{% include "partials/footer.njk" %}

<script src="/js/year.js"></script>

<script src="/js/brazil-time.js"></script>

</body>

</html>