---
layout: layouts/diario.njk
---

<link rel="stylesheet" href="/css/diario.css">

<div class="terminal">

    <div class="terminal-header">
        <span>C:\Users\maxmoh\blescat\diario</span>
        <span class="close-terminal">X</span>
    </div>

    <div class="diario">

    <a href="/diario">< Voltar</a>

        <h2>>{{ title }}<</h2>
        <h3>{{ date.toLocaleString() }}</h3>

        <article>
            {{ content | safe }}
        </article>

        <p>C:\Users\Max\blescat> <span class="cursor">█</span></p>

    </div>

</div>